div.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.main-header {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

p#invalid-input-text {
    color: red;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

label.label-text {
    font-family: sans-serif;
}

input#input-box {
    height: 30px;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: black 1px solid;
    padding-left: 5px;
}

#submit-form-button {
    margin-top: 10px;
    width: 100px;
}

table {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    font-size: 11px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
}

th {
    font-family: sans-serif;
    font-size: 14px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 8px;
    padding-right: 8px;
}